                                             Mini Project -4_EDA-Shark Tank India

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
Shark_Tank_Dataset = pd.read_csv('EDA_Shark_Tank_India.csv')
Shark_Tank_Dataset.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [3]:
Shark_Tank_Dataset.columns

Index(['episode_number', 'pitch_number', 'brand_name', 'idea', 'deal',
       'pitcher_ask_amount', 'ask_equity', 'ask_valuation', 'deal_amount',
       'deal_equity', 'deal_valuation', 'ashneer_present', 'anupam_present',
       'aman_present', 'namita_present', 'vineeta_present', 'peyush_present',
       'ghazal_present', 'ashneer_deal', 'anupam_deal', 'aman_deal',
       'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal',
       'total_sharks_invested', 'amount_per_shark', 'equity_per_shark'],
      dtype='object')

In [4]:
#Q1. Find the number of episodes?

In [5]:
number_episodes = Shark_Tank_Dataset['episode_number'].nunique()
print(f"Number of episodes: {number_episodes}")

Number of episodes: 35

In [6]:
 #Q2. Max, min, mean of asked amount, asked equity, asked valuation?

In [7]:
max_asked_amount = Shark_Tank_Dataset['pitcher_ask_amount'].max()
min_asked_amount = Shark_Tank_Dataset['pitcher_ask_amount'].min()
mean_asked_amount = Shark_Tank_Dataset['pitcher_ask_amount'].mean()

print(f"Max Asked Amount: {max_asked_amount}")
print(f"Min Asked Amount: {min_asked_amount}")
print(f"Mean Asked Amount: {mean_asked_amount}")

Max Asked Amount: 30000.0
Min Asked Amount: 0.00101
Mean Asked Amount: 319.8547094871795

In [8]:
max_asked_equity = Shark_Tank_Dataset['ask_equity'].max()
min_asked_equity = Shark_Tank_Dataset['ask_equity'].min()
mean_asked_equity = Shark_Tank_Dataset['ask_equity'].mean()

print(f"Max Asked Equity: {max_asked_equity}")
print(f"Min Asked Equity: {min_asked_equity}")
print(f"Mean Asked Equity: {mean_asked_equity}")

Max Asked Equity: 25.0
Min Asked Equity: 0.25
Mean Asked Equity: 5.188034188034188

In [9]:
#Q3. Max & Min asked-equity, asked-valuation, and asked-amount episode-wise?

In [10]:
max_min_episodewise = Shark_Tank_Dataset.groupby('episode_number').agg({
    'ask_equity': ['max', 'min'],
    'ask_valuation': ['max', 'min'],
    'pitcher_ask_amount': ['max', 'min']
})
print(max_min_episodewise)

               ask_equity       ask_valuation          pitcher_ask_amount  \
                      max   min           max      min                max
episode_number
1                    15.0  5.00       1000.00   250.00               50.0
2                     5.0  1.00       7000.00  1000.00               70.0
3                     4.0  0.25      40000.00  1875.00              100.0
4                    10.0  4.00       1875.00   500.00               75.0
5                    20.0  1.00      10000.00    50.00              100.0
6                    10.0  1.00      10000.00   500.00              100.0
7                     7.5  1.00       7500.00   666.67              100.0
8                     7.5  2.50       2000.00   746.67               56.0
9                     5.0  2.50       2000.00  1000.00              100.0
10                    5.0  2.00       1500.00   500.00               30.0
11                   25.0  5.00     120000.00   300.00            30000.0
12                    5.0  3.00       1875.00   800.00               75.0
13                   10.0  2.00       2500.00   500.00               50.0
14                    5.0  3.00       3333.33   900.00              100.0
15                    5.0  3.00       1250.00   100.00               50.0
16                    7.0  2.00       2250.00  1071.43               80.0
17                   10.0  3.00       5000.00   500.00              150.0
18                    4.0  1.00      10000.00  1250.00              100.0
19                    8.0  1.25      10000.00   300.00              125.0
20                    5.0  2.00       3250.00   700.00               65.0
21                   10.0  5.00       1250.00   470.00              100.0
22                    5.0  2.00       3000.00  1500.00               80.0
23                    5.0  1.00      10000.00   600.00              100.0
24                   10.0  8.00        500.00   200.00               40.0
25                    4.0  2.00       7500.00  1250.00              150.0
26                   10.0  1.00       6500.00   500.00               65.0
27                   10.0  1.00      10000.00     0.01              100.0
28                    5.0  4.00       1875.00  1000.00               90.0
29                    5.0  3.00       2857.14  1500.00              100.0
30                   15.0  1.00      30000.00   500.00              300.0
31                   10.0  2.00       3750.00   500.00               75.0
32                    7.0  1.00       5000.00   583.33              200.0
33                   10.0  1.00       3500.00   400.00               40.0
34                   10.0  1.00      10000.00   400.00              100.0
35                    8.0  2.50       4000.00   500.00              100.0


                     min
episode_number
1               25.00000
2               50.00000
3               50.00000
4               50.00000
5               10.00000
6               45.00000
7               50.00000
8               30.00000
9               50.00000
10              25.00000
11              30.00000
12              40.00000
13              30.00000
14              45.00000
15               5.00000
16              45.00000
17              50.00000
18              50.00000
19              15.00000
20              35.00000
21              35.00000
22              50.00000
23              30.00000
24              20.00000
25              50.00000
26              50.00000
27               0.00101
28              50.00000
29              75.00000
30              50.00000
31              50.00000
32              35.00000
33              35.00000
34              30.00000
35              40.00000

In [11]:
#Q4. Brand names in which 2, 3, or 4 sharks are invested?

In [12]:
sharks_invested = Shark_Tank_Dataset.groupby('brand_name')['total_sharks_invested'].count()
brands_with_sharks = sharks_invested[sharks_invested.isin([2, 3, 4])].index.tolist()
print("Brand names with 2, 3, or 4 sharks invested:", brands_with_sharks)

Brand names with 2, 3, or 4 sharks invested: []

In [13]:
#Q.5 Episode-wise minimum and maximum of sharks invested?

In [14]:
episode_sharks_invested = Shark_Tank_Dataset.groupby('episode_number')['total_sharks_invested'].nunique()
min_max_sharks_invested = episode_sharks_invested.agg(['min', 'max'])
print("Episode-wise minimum and maximum of sharks invested:")
print(min_max_sharks_invested)

Episode-wise minimum and maximum of sharks invested:
min    1
max    4
Name: total_sharks_invested, dtype: int64

In [15]:
#Q6. Minimum and Maximum sharks invested in each episode?

In [16]:
min_max_sharks_invested_per_episode = Shark_Tank_Dataset.groupby('episode_number')['total_sharks_invested'].nunique().agg(['min', 'max'])
print("Minimum and Maximum sharks invested in each episode:")
print(min_max_sharks_invested_per_episode)

Minimum and Maximum sharks invested in each episode:
min    1
max    4
Name: total_sharks_invested, dtype: int64

In [17]:
#Q7. Brand names who ask for 1 crore and got a deal?

In [18]:
brands_1crore_with_deal = Shark_Tank_Dataset.loc[(Shark_Tank_Dataset['pitcher_ask_amount'] == 100) & (Shark_Tank_Dataset['deal_amount'] == 100), 'brand_name'].tolist()
print("Brand names who ask for 1 crore and got a deal:", brands_1crore_with_deal)

Brand names who ask for 1 crore and got a deal: ['Revamp Moto', 'Raising Superstars', 'The Renal Project', 'Get a Whey', 'Sunfox Technologies', 'Insurance Samadhan']

In [19]:
#Q8. Brand names where deal equity is between 0 to 50?

In [20]:
brands_deal_equity_0_to_50 = Shark_Tank_Dataset.loc[(Shark_Tank_Dataset['deal_equity'] >= 0) & (Shark_Tank_Dataset['deal_equity'] <= 50), 'brand_name'].tolist()
print("Brand names where deal equity is between 0 to 50:", brands_deal_equity_0_to_50)

Brand names where deal equity is between 0 to 50: ['BluePine Industries', 'Booz scooters', 'Heart up my Sleeves', 'Tagz Foods', 'Head and Heart', 'Agro tourism', 'Qzense Labs', 'Peeschute', 'NOCD', 'Cosiq', 'JhaJi Achaar', 'Bummer', 'Revamp Moto', 'Hungry Heads', 'Shrawani Engineers', 'Skippi Pops', 'Menstrupedia', 'Hecolll', 'Raising Superstars', 'Torch-it', 'La Kheer Deli', 'Beyond Snack', 'Vivalyf Innovations- Easy Life', 'Motion Breeze', 'Altor', 'Ariro', 'Kabira Handmade', 'Nuutjob', 'Meatyour', 'EventBeep', "Gopal's 56", 'ARRCOAT Surface Textures', 'Farda', 'Auli Lifestyle', 'SweeDesi', 'LOKA', 'Annie', 'Caragreen', 'The Yarn Bazaar', 'The Renal Project', 'Morikko Pure Foods', 'Good Good Piggy Bank', 'Hammer Lifestyle', 'PNT', 'Cocofit', 'Bamboo India', 'Flying Furr', 'Beyond Water', "Let's Try", 'Find Your Kicks India', 'Aas Vidyalaya', 'Outbox', 'RoadBounce', "Mommy's Kitchen", 'India Hemp and Co', 'Otua', 'Anthyesti', 'Ethik', 'WeSTOCK', 'KetoIndia', 'Magic lock', 'The State Plate', 'Bakarmax', 'IN A CAN', 'Get a Whey', 'The Quirky Nari', 'Hair Originals', 'Poo de Cologne', 'Moonshine Meads', 'Falhari', 'Namhya Foods', 'Urban Monkey', 'Guardian Gears', 'Modern Myth', 'The Sass Bar', 'KG Agrotech', 'Nuskha Kitchen', 'PawsIndia', 'Sunfox Technologies', 'Alpino', 'Isak Fragrances', 'Julaa Automation', 'Rare Planet', 'Theka Coffee', 'Watt Technovations', 'Aliste Technologies', 'Insurance Samadhan', 'Humpy A2', 'Kunafa World', 'Gold Safe Solutions Ind.', 'Wakao Foods', 'PDD Falcon', 'PlayBox TV', 'Sippline Drinking Shields', 'Kabaddi Adda', 'Shades of Spring', 'Scholify', 'Scrapshala', 'Sabjikothi', 'AyuRythm', 'Astrix', 'Thea and Sid', 'Experential Etc', 'GrowFitter', 'Med Tech', 'Colour Me Mad', "Mavi's", 'Tweek Labs', 'Proxgy', 'Nomad Food Project', 'Twee in One', 'Green Protein', 'On2Cook', 'Jain Shikanji', 'Woloo', 'Elcare India']

In [21]:
#Q9. Find the number of brands participated in each episode?

In [22]:
brands_participated_per_episode = Shark_Tank_Dataset.groupby('episode_number')['brand_name'].nunique()
print("Number of brands participated in each episode:")
print(brands_participated_per_episode)

Number of brands participated in each episode:
episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

In [23]:
#Q10. How many sharks participated in this show and What were their names?

In [24]:
total_sharks_participated = Shark_Tank_Dataset['total_sharks_invested'].sum()
sharks_names = Shark_Tank_Dataset[['ashneer_present', 'anupam_present', 'aman_present', 'namita_present', 'vineeta_present', 'peyush_present', 'ghazal_present']].columns.tolist()

print("Total number of sharks participated:", total_sharks_participated)
print("Names of sharks:", sharks_names)

Total number of sharks participated: 144
Names of sharks: ['ashneer_present', 'anupam_present', 'aman_present', 'namita_present', 'vineeta_present', 'peyush_present', 'ghazal_present']

In [25]:
#Q11. Find appearance of each sharks?

In [26]:
shark_appearances = {}
for shark_name in sharks_names:
    appearances = Shark_Tank_Dataset[shark_name].sum()
    shark_appearances[shark_name] = appearances

print("Appearance of each shark:")
for shark_name, appearances in shark_appearances.items():
    print(f"{shark_name}: {appearances}")

Appearance of each shark:
ashneer_present: 98
anupam_present: 117
aman_present: 98
namita_present: 106
vineeta_present: 66
peyush_present: 88
ghazal_present: 26

In [27]:
#Q12. How many entrepreneurs were present?

In [28]:
entrepreneur_columns = ['ashneer_present', 'anupam_present', 'aman_present', 'namita_present', 'vineeta_present', 'peyush_present', 'ghazal_present']

total_entrepreneurs = Shark_Tank_Dataset[entrepreneur_columns].sum().sum()

print("Total number of entrepreneurs present:", total_entrepreneurs)

Total number of entrepreneurs present: 599

In [29]:
#Q13. How many times each shark invested the deal?

In [30]:
shark_deal_columns = ['ashneer_deal', 'anupam_deal', 'aman_deal', 'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal']
shark_deal_counts = Shark_Tank_Dataset[shark_deal_columns].notnull().sum()

print("Number of times each shark invested in a deal:")
print(shark_deal_counts)

Number of times each shark invested in a deal:
ashneer_deal    117
anupam_deal     117
aman_deal       117
namita_deal     117
vineeta_deal    117
peyush_deal     117
ghazal_deal     117
dtype: int64

In [31]:
#Q14. Find the equity percent that each sharks gets?

In [32]:
shark_equity_columns = ['ashneer_deal', 'anupam_deal', 'aman_deal', 'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal']
mean_shark_equity = Shark_Tank_Dataset[shark_equity_columns].mean()

print("Mean equity percentage that each shark gets:")
print(mean_shark_equity)

Mean equity percentage that each shark gets:
ashneer_deal    0.179487
anupam_deal     0.205128
aman_deal       0.239316
namita_deal     0.188034
vineeta_deal    0.128205
peyush_deal     0.230769
ghazal_deal     0.059829
dtype: float64

In [33]:
#Q15. Find the total number of amount invested in this show?

In [34]:
total_amount_invested = Shark_Tank_Dataset['deal_amount'].sum()

print("Total amount invested in the show:", total_amount_invested)

Total amount invested in the show: 3742.00106

                                           Submitted By: Shweta Kanungo